In [1]:
#SET
myset = set(["a", "b", "c"]) 
print(myset)

{'b', 'c', 'a'}

In [2]:
#adding an element in set
myset.add("d") 
print(myset)

{'b', 'c', 'd', 'a'}

In [3]:
#union of two sets 
  
people = {"Jay", "Idrish", "Archil"} 
vampires = {"Karan", "Arjun"} 
dracula = {"Deepanshu", "Raju"} 
 
population = people.union(vampires) 
  
print("Union using union() function") 
print(population)

Union using union() function
{'Jay', 'Archil', 'Karan', 'Idrish', 'Arjun'}

In [4]:
  
#intersection of two sets 
  
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i) 
  
set3 = set1.intersection(set2) 
  
print("Intersection using intersection() function") 
print(set3) 
  
set3 = set1 & set2 
  
print("\nIntersection using '&' operator") 
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [5]:
#difference of two sets 
  
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
  
for i in range(3,9): 
    set2.add(i) 
  
# Difference of two sets using difference() function 
set3 = set1.difference(set2) 
  
print(" Difference of two sets using difference() function") 
print(set3) 
  
# Difference of two sets using '-' operator 
set3 = set1 - set2 
  
print("\nDifference of two sets using '-' operator") 
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [6]:
#clear()
  
set1 = {1,2,3,4,5,6} 
print(set1)
# This method will remove all the elements of the set 
set1.clear() 
  
print("\nSet after using clear() function") 
print(set1)

{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()